{% extends "basetpl.html" %}
{% block titlebar %}
<h1>{% block title %}Submit your work{% endblock %}</h1>
{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="badass">
      <form id="form" method=POST enctype="multipart/form-data" action="{{ url_for('index') }}" data-ajax="false">
        <label>
          <ul>
            <li class="identity">logged in as:
              <b>{{ g.user.firstname }} {{ g.user.lastname }}
                <a href="mailto:{{ g.user.email }}">{{ g.user.email }}</a>
              </b>
            </li>
            <li class="identity lang-en">By submitting this form, I certify that I am the person identified above and that the work submitted below is mine.</li>
            <li class="identity lang-fr">En envoyant ce formulaire, je certifie que je suis la personne identifiée ci-dessus et que le travail rendu ci-dessous est le mien.</li>
          </ul>
        </label>
        {% if g.user.has_role("dev") %}
        <label for="debug">debug</label>
        <input type="checkbox" name="debug">
        {% endif %}
      </form>
    </div>
{% endblock %}
