{% extends "basetpl.html" %}
{% block titlebar %}
<h1>{% block title %}Submit your work{% endblock %}</h1>
{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block content %}
        <form id="form" method=POST enctype="multipart/form-data" action="{{ url_for('index') }}" data-ajax="false">
          <label for="consent">
            <ul>
              <li class="lang lang-en">I certify that I am the person identified above and that the work submitted below is mine.</li>
              <li class="lang lang-fr">Je certifie que je suis la personne identifiée ci-dessus et que le travail rendu ci-dessous est le mien.</li>
            </ul>
          </label>
          <input type="checkbox" name="consent" unchecked>
        </form>
{% endblock %}
