.alert {
    display: block;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-style: solid;
}

.alert-error {
    border-color: #A00;
    background-color: #FDD;
}

.alert-warning {
    border-color: #D60;
    background-color: #FFD;
}

.alert-info {
    border-color: #0A0;
    background-color: #DFD;
}

.alert-http {
    border-color: #00A;
    background-color: #DDF;
}

.result > a {
    font-weight: bold;
    padding-left: 2.5em;
}

.result-fail > .ui-collapsible-heading-toggle {
    background-color: #FDD !important;
}

.result-warn > .ui-collapsible-heading-toggle {
    background-color: #FFD !important;
}

.result-pass > .ui-collapsible-heading-toggle {
    background-color: #DFD !important;
}

ul .result-fail {
    list-style-image: url("{{ url_for('asset', kind='s', name='fail.svg') }}");
    color: #900;
} 

ul .result-warn {
    list-style-image: url("{{ url_for('asset', kind='s', name='warn.svg') }}");
    color: #C60;
} 

ul .result-pass {
    list-style-image: url("{{ url_for('asset', kind='s', name='pass.svg') }}");
    color: #090;
}

li.lang {
    margin-top: 5px;
    margin-bottom: 5px;
}

li.lang-en {
    list-style-image: url("{{ url_for('asset', kind='s', name='flags/en.png') }}");
}

li.lang-fr {
    list-style-image: url("{{ url_for('asset', kind='s', name='flags/fr.png') }}");
}

.wait-anim {
    margin: auto;
    text-align: center;
}

.wait-anim video {
    max-width: 70%;
}

.wait-anim a {
    color: #BBB;
    font-size: xx-small;
    text-decoration: none;
}

.wait-anim a:visited {
    color: #BBB;
    font-size: xx-small;
    text-decoration: none;
}

.danger {
    color: #900;
} 
