{% extends "basetpl.html" %}
{% block titlebar %}
<h1>{% block title %}Teacher interface{% endblock %}</h1>
{% endblock %}
{% block content %}
        <form id="form" method=POST action="{{ url_for('teacher') }}" data-ajax="false">
          <fieldset data-role="controlgroup">
            <input data-type="search" id="filter-groups" placeholder="groups">
            <div data-filter="true" data-input="#filter-groups">
              {% for gname, gdesc in groups.items() | sort %}
              <input type="checkbox" name="grp-{{ gname }}" id="grp-{{ gname }}">
              <label for="grp-{{ gname }}">{{ gname }}: {{ gdesc }}</label>
              {% endfor %}
            </div>
          </fieldset>
          <fieldset data-role="controlgroup">
            <input data-type="search" id="filter-exos" placeholder="exercises">
            <div data-filter="true" data-input="#filter-exos">
              {% for c, exos in exercises.items() | sort %}
              {% for e in exos | sort %}
              <input type="checkbox" name="exo-{{ c }}-{{ e }}" id="exo-{{ c }}-{{ e }}">
              <label for="exo-{{ c }}-{{ e }}">{{ c }}: {{ e }}</label>
              {% endfor %}
              {% endfor %}
            </div>
          </fieldset>
          <input type="submit" value="Submit">
        </form>
{% endblock %}
