{% extends "basetpl.html" %}
{% block titlebar %}
<h1>{% block title %}Please wait{% endblock %}</h1>
{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
      {% if anim %}
      <div class="wait-anim">
        <video autoplay loop>
          {% for src, typ in anim["media"] %}
          <source src="{{ url_for('static', filename=src) }}" type="{{ typ }}">
          {% endfor %}
        </video>
        <br>
        <a href="{{ anim['url'] }}" target="_blank">
          {{ anim['author'] }}
          {% if anim.get('date') %}
          / {{ anim['date'] }}
          {% endif %}
        </a>
      </div>
      {% endif %}
    </div>
    <script>
      function penelope () {
          $.getJSON("{{ status_url }}", function (status) {
              $("#log").append("<li><code>" + status.wait + "/" + status.link + "</code></li>");
              if (status.wait) {
                  setTimeout(penelope, 1000);
              } else {
                  window.location.href = status.link;
              }
          })
      }
      setTimeout(penelope, 2000);
    </script>
{% endblock %}
