<!DOCTYPE html>
<html>
  <head>
    <title>Please wait</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('asset', kind='s', name='jquery.mobile-1.4.5.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('asset', kind='t', name='style.css') }}"/>
    <script src="{{ url_for('asset', kind='s', name='jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('asset', kind='s', name='jquery.mobile-1.4.5.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('asset', kind='s', name='favicon.ico') }}">
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <h1>Please wait...</h1>
      </div>
      <div data-role="main" class="ui-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
          {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
      {% if anim %}
      <div class="wait-anim">
        <video autoplay loop>
          {% for src, typ in anim["media"] %}
          <source src="{{ url_for('static', filename=src) }}" type="{{ typ }}">
          {% endfor %}
        </video>
        <br>
        <a href="{{ anim['url'] }}" target="_blank">
          {{ anim['author'] }}
          {% if anim.get('date') %}
          / {{ anim['date'] }}
          {% endif %}
        </a>
      </div>
      {% endif %}
    </div>
    <script>
      setTimeout(function() {
          window.location.href = "{{ status_url }}";
      }, {{ status_wait }});
    </script>
  </body>
</html> 
